/* Set everything to black */
html{
    background-color: black;
}

/* Map in Find Us page */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

/* Styling for video bg in index.html */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.logo img{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar a img{
    height:200px;
    width: 200px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: red;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
  }

  .openbtn:hover {
    background-color: red;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Styling for heading1 */
  .container h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }



  /*App Showcase*/
  .container {
    display: flex;
    align-items: center;
  }
  
  .container img {
    margin-right: 20px;
  }
  
  .text {
    font-size: 18px;
    color: white;
  }

  /* About Us (What Are We) */
  .heading-aboutus{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .content-aboutus{
    padding-top: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px red;
  }



  /* Find Us (Where Are We) */
  .find-us h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: 900;
  }

  .location p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  /* Contact Us (Get In Touch) */
  .contact-us h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  /*COntact Us*/
  .header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  /* Add styles to the form */
  form {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 200px;
    
  }

  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;

  }

  label {
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Add styles for error messages */
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: -0.8em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
  }

  /* Add styles for success message */
  .success-message {
    color: green;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .lottie-container {
    padding-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lottie-container lottie-player{
    position: fixed;
  }








 